body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.plateforme {
    background-color: #094788;
}

.title {
    color: #dba50f;
}

.text {
    color: white;
}